@import "../../theme/theme";

.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 50px;
  width: 100%;

  padding: 0 20px;

  font-family: $Beo-font;
  font-size: $Beo-size;
  font-weight: $Beo-weight;
  color: $Beo-color;
  letter-spacing: 10px;
  text-transform: uppercase;

  background: $highlight;

  cursor: pointer;

  .titleIcon {
    padding-left:20px;
  }
}